
<h3><%= camping.nom %> </h3>
<p>Camping <b><%= camping.etoile%></b> à <%= camping.commune %></b></p>
<p><%= link_to "Voir la fiche", camping_path(camping.slug), class:"btn btn-primary", role:"button" %></p>
