<h1>Liste des campings <%=@campings.count%></h1>

<div class="row">

<% for camping in @campings %>
<article>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3><%= camping.nom %> </h3>
        <p><%= camping.description %></p>
        <p><%= link_to "Voir la fiche", camping_path(camping.slug), class:"btn btn-primary", role:"button" %></p>

      </div>
    </div>
  </div>
</div>


  <%end%>
